h1 {
color: #808080;
text-align: center;
font-family: "Verdana", Geneva, sans-serif;
margin-left: 180px;
}

#main {
	font-family: "Verdana", Geneva, sans-serif;
	margin-left: 260px;
	
}


#sidenav {
	
  font-family: "Verdana", Geneva, sans-serif;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0);
  overflow-x: hidden;
  padding-top: 20px;

  color: #f1f1f1;
}

a { 
padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.lightsheet {
	/* background: black url(images\lightsheet_1b.jpg) center no-repeat; */
  
  width: 100%;
  position: relative;
  /*left: 50%;
  right: 50%;
  /*margin-left: -50vw;*/
  margin-right: -50vw; 
}
}

}

